.spinner {
    border: 0.25rem solid rgba(0, 0, 0, 0.1); /* 변경 */
    width: 2.25rem; /* 변경 */
    height: 2.25rem; /* 변경 */
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s ease infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }