.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  background-color: #e0f7e9;
  padding: 20px;
}

.logo {
  margin-top: 20px;
  margin-bottom: 40px;
  width: 70%; /* 화면의 70% */
  max-width: 300px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 80%; /* 로고의 너비에 상대적으로 설정 */
  max-width: 240px; /* 로고의 최대 너비가 300px이므로 80%는 240px */
}

.button {
  width: 100%; /* buttonContainer의 너비에 맞춤 */
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #f0f0f0;
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
  }

  .buttonContainer {
    width: 100%;
  }
}